{
    "name": "Riotee Boards",
    "architecture": "riotee",
    "version": "$RELEASE_VERSION",
    "category": "Contributed",
    "help": {
        "online": "https://github.com/NessieCircuits/Riotee_ArduinoCore/issues"
    },
    "url": "https://riotee.nessie-circuits.de/arduino/release/Riotee_ArduinoCore_${RELEASE_VERSION}.zip",
    "archiveFileName": "Riotee_ArduinoCore-${RELEASE_VERSION}.zip",
    "checksum": "MD5:${MD5SUM}",
    "size": "${FILESIZE}",
    "boards": [
        {
            "name": "Riotee Board"
        }
    ],
    "toolsDependencies": [
        {
            "packager": "riotee",
            "name": "gcc-arm-none-eabi",
            "version": "12.2.0"
        },
        {
            "packager": "riotee",
            "name": "openocd",
            "version": "0.12.0-1"
        }
    ]
}